body {
  background-color: black;
}

#image {
  margin: 20px;
  padding: 0px;
  border: solid white;
  width: 100%;
}

#main {
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  width: 50%;
  margin-left: 25%;
}

#uppercase {
  text-transform: uppercase;
}
